<div class="d-flex h-100 text-center yellow-background">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3 mt-auto">
      <h1>Seinfeld Quote Game</h1>
      <p class="lead">
        Guess who said these quotes from the show about nothing.
      </p>
      <p class="lead">
        <button
          routerLink="/game"
          type="button"
          class="btn btn-primary btn-lg btn-start"
        >
          Start
        </button>
      </p>
    </main>
    <footer class="mt-auto footer-text">
      <p>
        Made by
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
          me
        </a>
      </p>
    </footer>
  </div>
</div>
