<div class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3 mt-auto">
      <h1>Seinfeld Quote Game</h1>
      <p class="lead">
        Guess who said these quotes from the show about nothing.
      </p>
      <p class="lead">
        <button type="button" class="btn btn-lg btn-primary">Start</button>
        <!-- <a
          href="#"
          class="btn btn-lg btn-secondary fw-bold border-white bg-white"
          >Start</a
        > -->
      </p>
    </main>
    <footer class="mt-auto text-white-50">
      <p>
        Made by
        <a
          href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
          class="text-white"
        >
          me
        </a>
      </p>
    </footer>
  </div>
</div>

<!-- <div class="container-fluid d-flex h-100 flex-column">
  <div style="background-color: orange" class="row">
    <div class="col d-flex justify-content-center">
      <h1>Seinfeld</h1>
    </div>
  </div>
  <div style="background-color: blue" class="row">
    <div class="col d-flex justify-content-center">
      <h4>quote guessing game!</h4>
    </div>
  </div>
  <div style="background-color: lightcoral" class="row">
    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-primary">Start</button>
    </div>
  </div>
</div> -->
