/* .container-fluid {
  position: absolute;
}

h1 {
  font-size: 108px;
}

h1,
h4 {
  color: #e5031c;
} */

/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}
