.btn {
  margin: auto;
}

.row {
  display: flex;
  /* border: 1px solid black; */
}

.col {
  display: flex;
  align-items: center;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padding-bottom {
  padding-bottom: 12px;
}

.padding-top {
  padding-top: 12px;
}
