<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col">
      <p *ngIf="tenRandomQuotes.length > 0">
        {{ tenRandomQuotes[index].quote }}
      </p>
    </div>
  </div>
  <div class="row h-100">
    <div class="row padding-bottom">
      <div class="col one">
        <button
          type="button"
          class="btn btn-primary h-100 w-100"
          (click)="selectAnswer('Jerry')"
        >
          Jerry
        </button>
      </div>
      <div class="col two">
        <button
          type="button"
          class="btn btn-primary h-100 w-100"
          (click)="selectAnswer('Elaine')"
        >
          Elaine
        </button>
      </div>
    </div>
    <div class="row padding-top">
      <div class="col three">
        <button
          type="button"
          class="btn btn-primary h-100 w-100"
          (click)="selectAnswer('George')"
        >
          George
        </button>
      </div>
      <div class="col four">
        <button
          type="button"
          class="btn btn-primary h-100 w-100"
          (click)="selectAnswer('Kramer')"
        >
          Kramer
        </button>
      </div>
    </div>
  </div>
  <div class="row h-100">
    <div class="col">
      <button class="btn btn-secondary" (click)="back()">Back</button>
      <span class="question-number">{{ index + 1 }} of 10</span>
      <button class="btn btn-secondary" (click)="next()">Next</button>
    </div>
    <button
      class="btn btn-secondary btn-finish"
      *ngIf="index == 9"
      (click)="finish()"
    >
      Finish
    </button>
  </div>
</div>
