<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col">
      <p>
        "What's so great about a mom and pop store? Let me tell you something,
        if my mom and pop ran a store I wouldn't shop there."
      </p>
    </div>
  </div>
  <div class="row h-100">
    <div class="row padding-bottom">
      <div class="col one">
        <button type="button" class="btn btn-primary h-100 w-100">Jerry</button>
      </div>
      <div class="col two">
        <button type="button" class="btn btn-primary h-100 w-100">
          Elaine
        </button>
      </div>
    </div>
    <div class="row padding-top">
      <div class="col three">
        <button type="button" class="btn btn-primary h-100 w-100">
          George
        </button>
      </div>
      <div class="col four">
        <button type="button" class="btn btn-primary h-100 w-100">
          Kramer
        </button>
      </div>
    </div>
  </div>
  <div class="row h-100">
    <div class="col">back 1 of 10 next</div>
  </div>
</div>
